.navbar {
  background-color: rgb(17, 17, 17) !important;
}

form.d-flex button.btn-outline-success {
  background-color: #626262;  /* Change to a blue background (or any color you prefer) */
  color: white;  /* Change the text color to white */
  border: none;  /* Optional: Remove the default border */
}

form.d-flex button.btn-outline-success:hover {
  background-color: #626262;  /* Change background color on hover */
  border-color: #626262;  /* Change border color on hover */
}
